<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Online 3GX Bilder</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
  <h1>Online 3GX Builder</h1>
  <form method="post" action="/build">
    <input type="text" name="link" placeholder="Enter your 3gx repository URL" required>
    <br>
    <button type="submit">Build</button>
  </form>
</body>
</html>